#grid {
    display: grid;
    max-width: 75vw;
    height: 75vh;
    grid-template-columns: auto auto auto auto;
    margin: auto;
}


.cell {
    
    border: solid black 1px;
    height: 1fr;
    width: 1fr;
}

#title {
    display: flex;
    justify-content: center;
}

#userInputBtn {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}

.input {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
}